input[type="text"],
input[type="number"],
textarea,
select {
	width: 100%;
  	padding: 10px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.edit-command {
	color: rgb(8, 8, 8); 
	border: none; 
	padding: 5px 8px; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px; 
	margin: 4px 2px; 
	cursor: pointer; 
	border-radius: 5px; 
	transition: background-color 0.3s ease;
}
  
.edit-command:hover {
	background-color: #d3d4d5;
}

.filter input{
    padding: 7px 7px;
    border: 1px solid;
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 50px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.search{
	margin-left: 78%;
}

.filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: var(--dark8);
    margin-right: 9px;
}

.filter input:focus{
    border-color: var(--dark7);
}