*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
	flex-grow: 1;
	padding: 20px;
}

.logo__img {
    display: block;
    height: 40px;
}

html {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    padding-top: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 236, 197, 0.754);
    z-index: 9999;
    transition: box-shadow .3s;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    transition:  padding-top .3s,  padding-bottom .3s;
}

.header_mini .header__container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo_top {
    display: block;
}

.logo__img {
    display: block;
    height: 40px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__item{
	border: 0;
}

.menu__link {
    font-size: 16px;
}

body {  
	display: flex;
	margin: 0;
}

.sidebar {  
	width: 200px;
	background-color: #f8f8f8;
	padding: 20px;
}

.sidebar a {
	display: block;
	margin-bottom: 10px;
	color: #333;
	text-decoration: none;
}


.edit-user{
	background-image: url(../img/edit.png);
}

.welcome{
	text-align: center;
	margin-top: 50px;
	font-size: 45px;
}

.welcome-descr{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

.title h2{
	font-size: 40px;
	color: #fcfffc;
	margin-bottom: 50px;
}

.list-menu a{
	font-size: 25px;
	color: #fcfffc;
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 5px;
}

.list-menu a:hover{
	border-left: 2px solid #F5B7C7;
	transition: 0.2s ease;
	padding-left: 10px;
}

.list-menu li{
	margin: 20px 0;
}

.list-menu{
	margin-bottom: 50px;
}

.menu{
	padding: 25vh 50px;
	background: rgba(20, 20, 20, 0.5);
	height: 100vh;
	border-right: 7px solid #fcfffc;
	position: fixed;
	left: -320px;
	transition: 0.4s ease;
}

.menu:hover{
	left: 0;
	transition: 0.5s ease;
}

.modal-content{
	padding-left: 319px;
}

/* .content{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
} */

.footer-menu p{
	font-size: 15px;
	color: #fcfffc;
	opacity: 0.7;
}

/* .add-user-btn{
	position: sticky;
    top: 100vh;
    padding-right: 25px;
    text-align: right;
}

.add-link{
	width: 35px;
} */